.App {
  text-align: center;
}
.SmurfBox{
  display:flex;
  justify-content: center;
  align-items: center;
}
.Smurf{
  margin:1%;
}
.SmurfForm{
  display:flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
.SmurfFormBox{
  display:flex;
  justify-content: center;
  align-items: flex-start;
}